body {
  font-size: medium;
  background-color: #999999;
  margin: 0px;
  padding: 0px;
  background: url(images/background.png) no-repeat center top;
  background-size: 2000px;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 120%;
  border: 1px solid black;
  padding: 2px;
  margin-top: 0px;
  box-shadow: 5px 5px #888888;
}

h2 {
  font-size: 100%;
}

header {
  margin: 0px;
}
#aboutme img {
  width: 140px;
}

#allcontent {
  background-color: rgba(191, 191, 191, 0.9);
  width: 902px;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  border: 1px solid;
  border-top: none;
  margin: 0px;
  padding: 0px;
  width: 900px;
  height: 25px;
  background-color: #e6e6e6;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;

}

nav ul li {
  display: inline-block;
  text-align: center;
}

nav ul li {
  text-align: center;
  vertical-align: middle;
  margin: 0px 30px 0px 30px;
  word-spacing: 25px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
  text-decoration: underline;
}

aside {
  float: left;
  margin: 0px;
  padding: 0px;
}

#aboutme {
  background-color: white;
  padding: 15px;
  width: 170px;
  height: 250px;
  border: 1px solid;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

#archive {
  background-color: white;
  padding: 15px;
  width: 170px;
  height: 200px;
  border: 1px solid;
  margin: 15px 0px 15px 0px;
}

#ubuntu, #zelda, #symlink {
  background-color: white;
  width: 653px;
  margin: 15px 15px 15px 217px;
  border: 1px solid;
  padding: 15px;
  font-size: 100%;
}

footer {
  border: 1px solid;
  border-bottom: none;
  margin: 0px;
  padding: 0px;
  width: 900px;
  height: 15px;
  background-color: #e6e6e6;
}

footer p {
  font-size: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}

blockquote {
  background-color: #e6e6e6;
}

div#tableContainer {
  display: table;
  border-spacing: 30px;
  width: 900px;
  margin: 15px 0px 15px 0px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

div.tableRow {
  display: table-row;
}

div.tableRow div {
  display: table-cell;
  margin: 10px;
  vertical-align: top;
}

div#tableContainer p {
  margin: 5px;
  padding: 0px;
  text-align: center;
}

div#tableContainer img {
  display: block;
  border: 1px solid black;
  margin: 0px auto;
}

div#album {
  width: 900px;
  height: 600px;
  margin: 15px 0px 15px 0px;
  padding: 0px;
  background-color: white;
  border: 1px solid black;
}

div#album #specific {
  width: 202px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  float: left;
}

div#album img {
  display: block;
  border: 1px solid black;
  margin: 15px;
}

div#album p {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
