* {
    margin: 0;
    padding: 0;
}

html {
  background: url(images/background.png) no-repeat center top;
  background-size: 1400px;
  background-attachment: fixed;
  height: 100%;
}

body {
  background-color: rgba(166, 166, 166, 0.8);
  width: 900px;
  padding: 0px 15px 40px 15px;
  margin: 0 auto;
  font-family: Helvetica;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
  text-decoration: underline;
}

nav {
  width: 900px;
  height: 25px;
  background-color: #e6e6e6;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  line-height: 25px;
  margin: 0px 30px;
  word-spacing: 25px;
}

aside {
  float: left;
  width: 200px;
}

#aboutme, #archive {
  background-color: white;
  padding: 15px;
  width: 170px;
  margin: 15px 0px;
  text-align: center;
}

#aboutme img {
  width: 120px;
}


#main article,
#logs {
  background-color: white;
  width: 655px;
  margin: 15px 0px 0px 215px;
  padding: 15px;
  font-size: 17px;
}

#main article h1 {
  font-size: 20px;
}

#main article h2 {
  font-size: 15px;
  color: blue;
  
}

time {
  font-size: 14px;
  color: gray;
}

#readmore {
  text-align: right;
  font-size: 14px;
}

#readmore a {
  color: red;
}

footer {
  width: 900px;
  height: 25px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0px;
}

footer p {
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}